.gray {
  color: #f4f4f4;
}

.bg-gray {
  background-color: #f4f4f4;
}

.bc-gray {
  border-color: #f4f4f4;
}

.green {
  color: #99b898;
}

.bg-green {
  background-color: #99b898;
}

.bc-green {
  border-color: #99b898;
}

.yellow {
  color: #feceab;
}

.bg-yellow {
  background-color: #feceab;
}

.bc-yellow {
  border-color: #feceab;
}

.orange {
  color: #ff847c;
}

.bg-orange {
  background-color: #ff847c;
}

.bc-orange {
  border-color: #ff847c;
}

.red {
  color: #e84a5f;
}

.bg-red {
  background-color: #e84a5f;
}

.bc-red {
  border-color: #e84a5f;
}

.gray-light-25 {
  color: #f7f7f7;
}

.gray-dark-25 {
  color: #b7b7b7;
}

.bg-gray-light-25 {
  background-color: #f7f7f7;
}

.bg-gray-dark-25 {
  background-color: #b7b7b7;
}

.bc-gray-light-25 {
  border-color: #f7f7f7;
}

.bc-gray-dark-25 {
  border-color: #b7b7b7;
}

.gray-light-50 {
  color: #fafafa;
}

.gray-dark-50 {
  color: #7a7a7a;
}

.bg-gray-light-50 {
  background-color: #fafafa;
}

.bg-gray-dark-50 {
  background-color: #7a7a7a;
}

.bc-gray-light-50 {
  border-color: #fafafa;
}

.bc-gray-dark-50 {
  border-color: #7a7a7a;
}

.gray-light-75 {
  color: #fcfcfc;
}

.gray-dark-75 {
  color: #3d3d3d;
}

.bg-gray-light-75 {
  background-color: #fcfcfc;
}

.bg-gray-dark-75 {
  background-color: #3d3d3d;
}

.bc-gray-light-75 {
  border-color: #fcfcfc;
}

.bc-gray-dark-75 {
  border-color: #3d3d3d;
}

.green-light-25 {
  color: #b3cab2;
}

.green-dark-25 {
  color: #738a72;
}

.bg-green-light-25 {
  background-color: #b3cab2;
}

.bg-green-dark-25 {
  background-color: #738a72;
}

.bc-green-light-25 {
  border-color: #b3cab2;
}

.bc-green-dark-25 {
  border-color: #738a72;
}

.green-light-50 {
  color: #ccdccc;
}

.green-dark-50 {
  color: #4d5c4c;
}

.bg-green-light-50 {
  background-color: #ccdccc;
}

.bg-green-dark-50 {
  background-color: #4d5c4c;
}

.bc-green-light-50 {
  border-color: #ccdccc;
}

.bc-green-dark-50 {
  border-color: #4d5c4c;
}

.green-light-75 {
  color: #e6ede5;
}

.green-dark-75 {
  color: #262e26;
}

.bg-green-light-75 {
  background-color: #e6ede5;
}

.bg-green-dark-75 {
  background-color: #262e26;
}

.bc-green-light-75 {
  border-color: #e6ede5;
}

.bc-green-dark-75 {
  border-color: #262e26;
}

.yellow-light-25 {
  color: #fedac0;
}

.yellow-dark-25 {
  color: #bf9b80;
}

.bg-yellow-light-25 {
  background-color: #fedac0;
}

.bg-yellow-dark-25 {
  background-color: #bf9b80;
}

.bc-yellow-light-25 {
  border-color: #fedac0;
}

.bc-yellow-dark-25 {
  border-color: #bf9b80;
}

.yellow-light-50 {
  color: #ffe7d5;
}

.yellow-dark-50 {
  color: #7f6756;
}

.bg-yellow-light-50 {
  background-color: #ffe7d5;
}

.bg-yellow-dark-50 {
  background-color: #7f6756;
}

.bc-yellow-light-50 {
  border-color: #ffe7d5;
}

.bc-yellow-dark-50 {
  border-color: #7f6756;
}

.yellow-light-75 {
  color: #fff3ea;
}

.yellow-dark-75 {
  color: #40342b;
}

.bg-yellow-light-75 {
  background-color: #fff3ea;
}

.bg-yellow-dark-75 {
  background-color: #40342b;
}

.bc-yellow-light-75 {
  border-color: #fff3ea;
}

.bc-yellow-dark-75 {
  border-color: #40342b;
}

.orange-light-25 {
  color: #ffa39d;
}

.orange-dark-25 {
  color: #bf635d;
}

.bg-orange-light-25 {
  background-color: #ffa39d;
}

.bg-orange-dark-25 {
  background-color: #bf635d;
}

.bc-orange-light-25 {
  border-color: #ffa39d;
}

.bc-orange-dark-25 {
  border-color: #bf635d;
}

.orange-light-50 {
  color: #ffc2be;
}

.orange-dark-50 {
  color: #80423e;
}

.bg-orange-light-50 {
  background-color: #ffc2be;
}

.bg-orange-dark-50 {
  background-color: #80423e;
}

.bc-orange-light-50 {
  border-color: #ffc2be;
}

.bc-orange-dark-50 {
  border-color: #80423e;
}

.orange-light-75 {
  color: #ffe0de;
}

.orange-dark-75 {
  color: #40211f;
}

.bg-orange-light-75 {
  background-color: #ffe0de;
}

.bg-orange-dark-75 {
  background-color: #40211f;
}

.bc-orange-light-75 {
  border-color: #ffe0de;
}

.bc-orange-dark-75 {
  border-color: #40211f;
}

.red-light-25 {
  color: #ee7787;
}

.red-dark-25 {
  color: #ae3847;
}

.bg-red-light-25 {
  background-color: #ee7787;
}

.bg-red-dark-25 {
  background-color: #ae3847;
}

.bc-red-light-25 {
  border-color: #ee7787;
}

.bc-red-dark-25 {
  border-color: #ae3847;
}

.red-light-50 {
  color: #f4a5af;
}

.red-dark-50 {
  color: #742530;
}

.bg-red-light-50 {
  background-color: #f4a5af;
}

.bg-red-dark-50 {
  background-color: #742530;
}

.bc-red-light-50 {
  border-color: #f4a5af;
}

.bc-red-dark-50 {
  border-color: #742530;
}

.red-light-75 {
  color: #f9d2d7;
}

.red-dark-75 {
  color: #3a1318;
}

.bg-red-light-75 {
  background-color: #f9d2d7;
}

.bg-red-dark-75 {
  background-color: #3a1318;
}

.bc-red-light-75 {
  border-color: #f9d2d7;
}

.bc-red-dark-75 {
  border-color: #3a1318;
}

html,
body {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', sans-serif;
}
/*# sourceMappingURL=styles.css.map */